<!DOCTYPE html>
<html>
<head>
    <title>Algoritmo de Cifrado - Desencriptar</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-green-500 flex items-center justify-center h-screen">
    <div class="max-w-md p-8 bg-gray-800 rounded shadow">
        <h1 class="text-2xl font-bold mb-8">Algoritmo de Cifrado - Desencriptar</h1>
        <form method="POST" action="/decrypt">
            <label for="ciphertext" class="text-lg">Texto encriptado:</label>
            <input type="text" name="ciphertext" id="ciphertext" required class="w-full px-3 py-2 mt-2 rounded bg-gray-700 text-green-500 focus:outline-none focus:bg-gray-600">
            <br><br>
            <label for="private_key" class="text-lg">Llave privada (d):</label>
            <input type="text" name="private_key" id="private_key" required class="w-full px-3 py-2 mt-2 rounded bg-gray-700 text-green-500 focus:outline-none focus:bg-gray-600">
            <br><br>
            <label for="n" class="text-lg">Valor de n:</label>
            <input type="text" name="n" id="n" required class="w-full px-3 py-2 mt-2 rounded bg-gray-700 text-green-500 focus:outline-none focus:bg-gray-600">
            <br><br>
            <button type="submit" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">Desencriptar</button>
        </form>

        {% if decrypted_message %}
            <h2 class="text-xl font-bold mt-8">Resultados:</h2>
            <p><strong>Texto desencriptado:</strong> {{ decrypted_message }}</p>
        {% endif %}
    </div>
</body>
</html>
